<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b9692">  <td>21/02/16 17:26:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAuto.browservalue()[pri:0, instance:Testing.TestAuto@7ee955a8]">&gt;&gt;browservalue</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259014228</td>   <td></td> </tr>
<tr bgcolor="9b9692">  <td>21/02/16 17:26:22</td>   <td>-333</td> <td title="&gt;&gt;TestAuto.setup()[pri:0, instance:Testing.TestAuto@7ee955a8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259014228</td>   <td></td> </tr>
<tr bgcolor="9b9692">  <td>21/02/16 17:26:23</td>   <td>56</td> <td title="&lt;&lt;TestAuto.teardown()[pri:0, instance:Testing.TestAuto@7ee955a8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259014228</td>   <td></td> </tr>
</table>
